<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отчёт системы автопроверки лабораторных работ</title>
    <style type="text/css">
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid black;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Отчёт системы автопроверки лабораторных работ</h1>
<p>
    Здравствуйте {{name}}!<br>
    Вы сдали лабораторную работу: <b>{{lab_name}}</b>.<br>
</p>
<p>
    Ваша оценка за лабораторную работу: <b>{{mark}}</b>.<br>
    Если Вы хотите улучшить оценку, Вы можете исправить лабораторную и сдать её заново.<br>
</p>
<h2>Ошибка!</h2>
<p>Вы указали неверный адрес электронной почты.</p>
<table>
    <tr>
        <td>Ваш адрес</td>
        <td>{{real_email}}</td>
    </tr>
    <tr>
        <td>Адрес из файла</td>
        <td>{{extracted_email}}</td>
    </tr>
</table>
<h2>Рекомендации</h2>
<p>
    Во вложении к этому письму Вы можете найти файл с вашей лабораторной.<br>
    Вы можете проверить, что файл, который получил робот, совпадает с файлом, который Вы отправили на проверку.<br>
</p>
<p>Если у Вас возникли какие-то вопросы, Вы можете обратиться в службу поддержки МИЭМ в Zulip.</p>
</body>
</html>